body {
    padding: 100px;
}

.submit-area {
    margin-top: 50px;
    display: block;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    padding: 40px;
}

#transaction-area {
    display: none;
}

.deposit {
    background-color: slateblue;
}

.withdraw {
    background-color: lightsalmon;
}

.balance {
    background-color: orange;
}

.status {
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 10px;
}