body {
    padding: 0 100px;
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#name {
    color: #5379b8;
}

.submit-area {
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px !important;
    box-shadow: 5px 5px 10px #5379b8 !important;
}

#login,
.deposit-button,
.withdraw-button {
    background: #7474BF;
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);
    background: linear-gradient(to right, #348AC7, #7474BF);
}

.form-content {
    margin: 20px 0;
}

#transaction {
    display: none;
}

.status {
    border-radius: 10px;
    margin: 0 20px;
    padding: 20px;
    color: azure;
    /* width: 30%; */
    height: 120px;
}

.deposit {
    background: #4DA0B0;
    background: -webkit-linear-gradient(to right, #D39D38, #4DA0B0);
    background: linear-gradient(to right, #D39D38, #4DA0B0);
}

.withdraw {
    background: #2C3E50;
    background: -webkit-linear-gradient(to right, #FD746C, #2C3E50);
    background: linear-gradient(to right, #FD746C, #2C3E50);
}

.balance {
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);
}